services:
  app:
    build: .
    container_name: spring_app
    ports:
      - "8080:8080"
    environment:
      MYSQL_HOST: mysql

      MYSQL_DB_NAME: ${MYSQL_DB_NAME}
      MYSQL_USER_NAME: ${MYSQL_USER_NAME}
      MYSQL_USER_PASS: ${MYSQL_USER_PASS}
    depends_on:
      mysql:
        condition: service_healthy

  mysql:
    image: mysql:8.0
    container_name: mysql8_container
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASS}
      MYSQL_DATABASE: ${MYSQL_DB_NAME}
      MYSQL_USER: ${MYSQL_USER_NAME}
      MYSQL_PASSWORD: ${MYSQL_USER_PASS}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "${MYSQL_USER_NAME}", "-p${MYSQL_USER_PASS}"]
      interval: 10s
      timeout: 5s
      retries: 10

volumes:
  mysql_data: